<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RegexExpressionExtensionTestSuit" verbose="1">
    <test name="RegexExpressionExtensionTest">
        <classes>
            <class name="io.siddhi.extension.execution.regex.RegExFunctionExtensionTestCase"/>
            <class name="io.siddhi.extension.execution.regex.FindFunctionExtensionTestCase"/>
            <class name="io.siddhi.extension.execution.regex.GroupFunctionExtensionTestCase"/>
            <class name="io.siddhi.extension.execution.regex.LookingAtFunctionExtensionTestCase"/>
            <class name="io.siddhi.extension.execution.regex.MatchesFunctionExtensionTestCase"/>
            <class name="io.siddhi.extension.execution.regex.RegexPersistanceTestCase"/>
        </classes>
    </test>
</suite>

