<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RegexExpressionExtensionTestSuit" verbose="1">
    <test name="RegexExpressionExtensionTest">
        <classes>
            <class name="org.wso2.extension.siddhi.execution.regex.RegExFunctionExtensionTestCase"/>
        </classes>
    </test>
</suite>

